/* CSS-Variablen für Wiederverwendbarkeit */
:root {
    --primary-color: #ff4c02;
    --primary-color-hover: #ff6f3c;
    --secondary-color: #333;
    --background-color: #fafafa;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --placeholder-color: #aaa;
    --border-radius: 5px;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
    --font-family: 'Rubik', sans-serif;
    --box-width: 43.75rem;
}

/* Grundlegende Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.general {
    font-family: var(--font-family);
    font-size: 1rem;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color-dark);
    padding: 2rem 1rem;
}

/* Login-Seite Layout */
.login-page {


    display: flex;
    flex-direction: column;
    justify-content: top-center;
    align-items: center;
    padding: 1rem;
    position: relative;
    width: var(--box-width);
    margin: 0 auto;
}

/* Benutzerbereich-Styles */
.user-options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: var(--box-width);
    margin: 0 auto;
}

/* Benutzeroptionen Text-Bereich */
.user-options-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-color);
    padding: 1.5rem;
    width: 100%;
    box-shadow: var(--box-shadow);
}

/* Benutzeroptionen */
.user-options {
    width: 100%;
    color: var(--text-color-light);
    font-weight: 300;
    text-align: center;
}

/* Formular-Bereich */
.user-options-forms-registered,
.user-options-forms-unregistered {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--text-color-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 3rem;
    transition: all var(--transition-speed) ease;
    opacity: 0;
    visibility: hidden;
}

.user-options-forms-unregistered {
    top: -28px;
}

.user-options-forms-registered.active,
.user-options-forms-unregistered.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}



/* Formular-Titel */
.forms-title {
    margin-bottom: 3.125rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    text-align: center;
}

/* Formular-Feld */
.forms-field:not(:last-of-type) {
    margin-bottom: 1.875rem;
}

.forms-field-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-color-dark);
    transition: border-color var(--transition-speed);
}

.forms-field-input:focus {
    border-color: var(--primary-color);
}

/* Passwort vergessen */

.forms-buttons-forgot {
    color: #999;
    text-decoration: underline;
    transition: color var(--transition-speed);
}

.forms-buttons-forgot:hover {
    color: #666;
    cursor: pointer;
}

/* Fehlermeldung */
.alert.error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.alert.success {
    color: green;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

/* Medienabfragen für Responsive Design */
@media screen and (max-width: 768px) {
    .user-options-container {
        width: 100%;
    }

    .user-options-text,
    .user-options-forms {
        width: 100%;
    }

    .user-action {
        width: 200px;
    }

    .login-page {
        width: 100%;
    }

    .user-options-forms-registered,
    .user-options-forms-unregistered {
        width: 100%;
    }
}