
.calendar {
    width: calc(100% + 260px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    margin-top: 50px;
}

/* .calender-sidebar-opened {
    margin-left: 160px;
} */