/* CSS-Variablen für Wiederverwendbarkeit */
:root {
    --primary-color: darkslategray;
    --primary-color-hover: #82b5b5; 
    --secondary-color: #dceaea;
    --background-color: #fafafa;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --placeholder-color: #aaa;
    --border-radius: 5px;
    --box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
    --font-family: 'Rubik', sans-serif;
    --box-width: 43.75rem;
}


body {
    background-color: snow;
    padding: 0px;
}

.rubik-font {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
