
.form-wrapper.profil {
    font-family: var(--font-family);
    display: flex;
    align-self: flex-start;
    justify-content: center;
    flex-direction: row;
    box-shadow: var(--box-shadow);
    
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.single-form {
    margin-bottom: 25px; 
    padding: 100px;
    /* box-shadow: var(--box-shadow); */
    width: 700px;
}

.forms-title {
    margin-bottom: 50px;
}

.forms-field {
    margin-bottom: 15px;
}

.alert.error {
    color: red;
    font-size: 0.9em;
}

.hr {
    border: none;
    height: 1px;
    background-color: black;
    margin: 20px 0; 
}