.expand-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    margin-top: 44px;

    left: 80px;
    width: 50px;
    height: 50px;
    background-color: whitesmoke;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; 
}

::selection {
    background-color: transparent;
}

.expand-button:hover {
    background-color: darkslategray;
    transform: scale(1.05) rotate(180deg); 
}

.expand-button:hover img {
    filter: brightness(200%);
    transform: scale(0.7);
}

@media (max-width: 768px) {
    .expand-button {
        left: 85px; 
    }
}
