:root {
  --clr-light: whitesmoke;
  --clr-dark: #333;
  --clr-hover: darkslategray;
  --clr-button-text: black;
  --clr-link: black;
  --clr-hover-text: whitesmoke;
  --clr-bg-sidebar: #f5f5f5;
  --clr-box-shadow: rgba(0, 0, 0, 0.1);
}


.sidebar-container.closed {
  width: 100px;
  height: 100vh;
  background-color: var(--clr-bg-sidebar);
  color: var(--clr-dark);
  padding: 2.5vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 10px;
  box-shadow: 2px 0 5px var(--clr-box-shadow);
  user-select: none;
  transition: left 0.6s ease;
}

.sidebar-button.closed {
  border-radius: 10px; 
}


.profile-spacing.closed {
  margin-top: 50px; 
}


.sidebar-button.closed:hover {
  background-color: var(--clr-hover);
  transform: scale(1.06);
}

.icon.closed {
  width: 24px; 
  height: 24px; 
}

.sidebar-button.closed:hover .icon.closed {
  filter: brightness(200%);
  transform: scale(1.06);
}

/* Menu Button Styles */
.menu-button-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  background-color: var(--clr-light);
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px; 
  padding: 10px 15px; 
  text-decoration: none; 
  color: var(--clr-button-text); 
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px var(--clr-box-shadow); 
  margin-top: 15px;
}

.menu-button-content:hover {
    background-color: var(--clr-hover);
    transform: scale(1.05);
    color: var(--clr-light);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .sidebar-container.closed {
        width: auto; 
    }

    .sidebar-button.closed {
        width: auto; 
    }

    .icon.closed {
        width: auto; 
        height: auto; 
    }

    .sidebar-button.profile-spacing.closed {
        margin-top: 5vh; 
    }
}
