:root {
  --clr-light: whitesmoke;
  --clr-dark: #333;
  --clr-hover: darkslategray;
  --clr-button-text: black;
  --clr-link: black;
  --clr-hover-text: whitesmoke;
  --clr-bg-sidebar: #f5f5f5;
  --clr-box-shadow: rgba(0, 0, 0, 0.1);
}

/* Closed Sidebar Styles */
.sidebar-container.closed {
  width: 100px;
  height: 100vh;
  background-color: var(--clr-bg-sidebar);
  color: var(--clr-dark);
  padding: 2.5vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  border-radius: 10px;
  box-shadow: 2px 0 5px var(--clr-box-shadow);
  user-select: none;
}

.sidebar-buttons-wrapper.closed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}



.sidebar-button.closed {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  margin-bottom: 2vh;
  background-color: var(--clr-light);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px 15px 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 5px var(--clr-box-shadow);
}

.sidebar-button.profile-spacing.closed {
  margin-top: 50px;
}

.sidebar-button.closed:hover {
  background-color: var(--clr-hover);
  transform: scale(1.06);
}

.sidebar-button.closed:hover img {
  filter: brightness(200%);
}

.icon.closed {
  width: 24px;
  height: 24px;
  margin-left: 2.5px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .sidebar-container.closed {
    width: 100px;
  }

  .sidebar-button.closed {
    width: 32px;
  }

  .icon.closed {
    width: 24px;
    height: 24px;
  }

  .sidebar-button.profile-spacing.closed {
    margin-top: 5vh;
  }
}