.form-wrapper {
    position: fixed;
    top: 5%;
    bottom: 10%;
    left: 20%;
    right: 10%;
    transition: left 0.3s ease;
    font-family: var(--font-family);

}

.forms-fieldset.cars {
    margin-bottom: 10px;
}

.page-form {}
